node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.nuxt
dist
.git
.gitignore
README.md
.env
.nyc_output
coverage
.cache
.vscode
.DS_Store
Thumbs.db
*.log
.husky
.github
test
__tests__
*.test.js
*.spec.js
jest.config.js
commitlint.config.js
.eslintcache
.babelrc
.editorconfig
.eslintrc.js
Makefile
!.env